@using OurSports1.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills flex-column">
  <a class="@ManageNavPages.IndexNavClass(ViewContext) nav-link font-weight-bold text-center" asp-action="Index">Profile</a>
  <a class="@ManageNavPages.ChangePasswordNavClass(ViewContext) nav-link font-weight-bold text-center"  asp-action="ChangePassword">Password</a>
  </ul>

