@model IEnumerable<OurSports1.Models.Article>

<h2>Soccer Events </h2>

<nav class="navbar navbar-light bg-light Searchline">

    <div class="form-inline Searchline Score" asp-controller="Articles" asp-action="SoccerEvents">
        <p>

            <div class="form-check">
                
                Date From: <input type="date" class="form-control mr-sm-2 disabled" name="Date From" value="From" id="DateFrom">
            </div>
            <div class="form-check">
              
                Date To: <input type="date" class="form-control mr-sm-2 disabled" name="Date To" value="To" id="DateTo">
            </div>
            <div class="form-check">
                Super League of:<select class="form-control mr-sm-2" value="League" name="League" id="LeagueSelect">
                    <options>
                        <option value="62">England</option>
                        <option value="79">Italy</option>
                        <option value="109">Spain</option>
                        <option value="117">Germany</option>
                        <option value="127">France</option>
                        <option value="437">Israel</option>
                        <option value="150">Portugal</option>
                        <option value="144">Denmark</option>
                        <option value="284">Belgium</option>
                        <option value="62">Belgium</option>
                    </options>
                </select>
            </div>
            <button class="btn btn-outline-success font-weight-bold Submit " Text="Click">Show</button>
        </p>
    </div>

</nav>

<div class="socretable">


</div>





