 @model OurSports1.Models.Comment

@{
    Layout = "_Thanks";
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Comment</h4>
<hr />
<div class="row">
    <div class="col-12 col-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="WriterName" class="control-label"></label>
                <input asp-for="WriterName" class="form-control" maxlength="15"/>
                <span asp-validation-for="WriterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" maxlength="25"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea  asp-for="Content" class="form-control" placeholder="Write Your Comment" onkeyup="countChar(this)"  maxlength="200" wrap="soft"> </textarea>
                <div id="charNum"></div>
                <span asp-validation-for="Content" class="text-danger"></span>

            </div>
            <input type="hidden" asp-for="ArticleID" class="form-control" value="@ViewData["ArticleID"]" readonly />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
