@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>





    <h2><%: Title %>.</h2>
<h3>Your application description page.</h3>
<h4>JSON Object Creation in JavaScript</h4>


<p>Use this area to provide additional information.</p>
<button id="Result">show</button>

<table class="containerjson">
    
</table>
